body{
    padding: 0px;
    font-family: 'Teko', sans-serif;
    scroll-behavior:  smooth ;
    overflow-y: scroll;

}
nav{
    display: block;
    width: 100%;
    background-color: aliceblue;
    color: black;
}
nav ul{
    list-style: none;
    padding: 15px;

}
nav ul li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.25rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.home{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    transition: all 1s;
}
.batteryStatus{
    text-align: center;
    margin: 200px auto;
}
.batteryStatus h1{
    font-size: 4rem;
}
.batteryStatus #percentage::after{
    content: "%"
}
.about{
    height: 100vh;
}
.about h1{
    font-size: 3rem;
    text-align: center;
}
.contact{
    height: 100vh;
}
.contact h1{
    text-align: center;
    font-size: 3rem;
}
.panel{
	min-width: 100%;
	overflow-x: hidden;
	z-index: 2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.panel:target{
	margin-top: 0%;
	background-color: #ffcb00;
}
footer{
    text-align: center;
}